.page {
    max-width: 60em;
    margin: 0 auto;
}

.main {
    float: right;
    width: 100%;
}

.content {
    background-color: #ccc;
    margin-left: 210px;
}
/*这里设置浮动和负的margin是为了兼容性*/
.sidebar {
    float: left;
    width: 200px;
    margin-right: -200px;
    background-color: #aaa;
}


.sidebar p {
 }
