.page {
    max-width: 60em;
    margin: 0 auto;
}

.table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
}

.table th {
    border: 1px solid #666;
    padding: 8px;
    background-color: #dedede;
}

.table td {
    border: 1px solid #666;
    padding: 8px;
}

.table tr:nth-child(odd) {
    background-color: white;
}

.table tr:nth-child(even) {
    background-color: grey;
}

.table tr:hover {
    background-color: yellow;
}
